@charset "utf-8";

/************************************************************************************/
/*Memo couleurs*/
/************************************************************************************/
/* Gris 50% rgba(0,0,0,0.5)*/

/************************************************************************************/
/*Webfonts*/
/************************************************************************************/

@font-face {
    font-family: 'open_sansbold';
    src: url('OpenSans-Bold-webfont.eot');
    src: url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Bold-webfont.woff') format('woff'),
         url('OpenSans-Bold-webfont.ttf') format('truetype'),
         url('OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
         src: local('open_sansbold'), url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: black;
    
}

section{
    position: relative;
    display: block;
    width: 800px;
    height:80%;
    margin: auto;
    background-color: black;
    margin-top: 8%;
    


}

#container{
    margin: auto;
    z-index: 100;
    height: 400px;
    margin-top: 50px;
    padding: 20px;
    border: solid;
    border-width: 1px;
    border-color: white;
    
    
}



h1{ font-family: 'open_sansbold';
    font-size: 1em;
    font-style: normal;
    color: black;
    position: absolute;
    right: 0;
    
    display: inline-block;
    color: white;
    height: 400px; 
    margin-top: 0;  
}

.chiffres{
    display:block;
    /*position: absolute;*/
    right:2;
    z-index: 100;
    height: 100%;
    width: 80px;
    overflow: scroll;
    margin-top: 0;
    margin-right: 20px;
    
}

p{
    color:white;
    text-decoration: none;
    margin-top: 0;
    text-align: center;

}

p.video{
    z-index: 200;

}

a{
    text-decoration: none;
    color: black;
}

article{
    height: 100%;
    position: absolute;
    display: inline-block;
    width: 85%;
    margin-top: 0;
    /*width: 100%;*/


}

video{
    width: 90%;
    height: 60%;
    top: 0;
    display: inline-block;    
}

iframe{
    width: 100%;
}



.rectangle{
    width: 90%;
    height: 60%;
    top: 0;
    display: inline-block;
    background-color: black;

}

img{
    width: 100%;
}


.videos{
    position: absolute;
    display: inline-block;
    margin-top: 2%;
    height: 50%;

}